/* general style */
header {
  margin-bottom: 0;
}

section {
  margin-top: 0px;
}

/* Headings title text style */

h1, h2{
  font-weight: bolder;
  text-align: center;
  text-decoration: wavy;
 
 padding: 0; /* to prevent a gap between header and h2 */
 margin: 0;
  
}

.text-subheader{
  height: 5vh;
  background-color: lightgrey;
  opacity: 70%;
  overflow: hidden; /* hides this text if screen width is too small */
}

/* navigation bar style */

.nav-bar-grid{
  display:grid;
  height: 5vh;
  grid-template-columns: 1fr 2fr 10fr;
  
grid-template-areas: 
"picture-avatar name-text nav-bar-style";
opacity: 70%;
background-color: lightgrey;
overflow: hidden;
}

.nav-bar-style{
  grid-area: nav-bar-style;
}





/* navigation bar links style */
.ul-links {
  display: flex;
  column-gap: 50px;
  justify-content: right;
  align-items: center;
  
    
}


ul.ul-links li {
  list-style: none;
}

.text-ul-links-navbar{
  color: blue;
  font-weight: bold;
  text-decoration: underline;
}
.text-ul-links-navbar:hover{
  color: red;
  
}


/* navigation bar avatar style */
.picture-avatar {
  position: relative;
  background-size: cover;
  grid-area: picture-avatar;
  background: url(../images/Avatar.png) no-repeat;
  width: 5vh; /* as nav-bar-grid size in vh */
  height: 5vh;
  max-width: 64px; /* picture size 64*64 */
  max-height: 64px;
  display: inside;
  
  
}
/* navigation bar avatar text style */
.name-text {
  
  font: bold;
  font-size: large;
  grid-area: name-text;
  align-self: center;
}

#text-name{
  
  font-style: italic;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: nowrap;
  font-size: 3vh;
}


/* main grid begins */
.main-grid-area {
  display: grid;
  height: 90vh; 
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-areas: 
  
  "container1 container2"
  "container3 container4"
  "container5 container6"
  ;
   row-gap: 1%;
   column-gap: 1%;
   
}
 /* list of containers assigned to a main grid from 1 to 6 */


.container-text-header{
  background-color: lightgray;
  border-right: 10px solid;
  border-color: darkblue;
}




#container-header-about-me{
   grid-area: container1;
 }


#container-article-about-me{
 
  background-color: white;
  grid-area: container2;
  
}
#container-header-apps{
  
  grid-area: container3;
}




/* nested grid begins inside main grid for a list of apps from 1 to 5 */
.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  grid-template-areas:
  "picture1 picture1"
  "picture2 picture3"
  "picture4 picture5";
}



/* list of pictures associated with list of apps */

/* picture style */

.picture-app{
  position: relative;
  background-size: cover;
  border: 5px solid;
  border-color: lightblue;
opacity: 1;
}

/* picture hover effect */
.picture-app:hover{ 
  opacity: 0.8;
}


/* Each picture details */
#picture-app-pre-work {
  
  background-image: url(../images/02-portfolio-1.jpg); 
  grid-area: picture1;
  

}

#picture-app-challenege1 {
  
  background-image: url(../images/02-portfolio-4.jpg);
  grid-area: picture2;

}
#picture-app-challenege2 {
  
  background-image: url(../images/02-portfolio-3.jpg);
  grid-area: picture3;

}

#picture-placeholder1 {
  
  background-image: url(../images/02-portfolio-2.jpg);
  grid-area: picture4;

}
#picture-placeholder2 {
  
  background-image: url(../images/02-portfolio-2.jpg);
  grid-area: picture5;

}


/* a text box with text description for apps from  */

.text-on-image {
  
  position: absolute;
  top: 70%;
  bottom: 10%;
  left: 0;
  right: 70%;
  display: flex;
  align-items: center;
  color: black;
  background-color: lightblue;
  font-size: 2vh;

}

/* picture text colour on mouse hover */
.text-on-image p:hover {
  color: red;
}

/* nested grid ends */

#continer-header-contacts {

  grid-area: container5;
}

#container-contacts{
  grid-area: container6;
}
/* main grid ends */



/* section header style */
.text-section-title{
  text-align: center;
  vertical-align: middle;
  counter-reset: none;  
  font-size: 30px;
  color: darkblue;
  
}


/* contacts links style */
.ul-links-user {
  display: flex;
  column-gap: 100px;
  justify-content: center;
  vertical-align: middle;
  
  
}

ul.ul-links-user li {
  list-style: none; /* removes list elements style */
}
 /* Links text style */
.ul-links-text{
  
  color: blue;
}
 /* Links text style on hover*/
.ul-links-text:hover{
  
  color: red;
  
}



