/* general style */
header {
  margin-bottom: 0;
}

section {
  margin-top: 0px;
}

/* navigation bar style */

.nav-bar-grid{
  display:grid;
  height: 5vh;
  grid-template-columns: 1fr 2fr 10fr;
  
grid-template-areas: 
"picture-avatar name-text nav-bar-style";
opacity: 70%;
background-color: green;
overflow: hidden;
}

.nav-bar-style{
  grid-area: nav-bar-style;
}

/* navigation bar links style */
.ul-links {
  display: flex;
  column-gap: 50px;
  justify-content: right;
  align-items: center;
  color: blue;
  
}

ul.ul-links li {
  list-style: none;
}


/* navigation bar avatar style */
.picture-avatar {
  position: relative;
  background-size: cover;
  grid-area: picture-avatar;
  background: url(../images/Avatar.png) no-repeat;
  width: 5vh; /* as nav-bar-grid size in vh */
  height: 5vh;
  max-width: 64px; /* picture size 64*64 */
  max-height: 64px;
  display: inside;
  
  
}
/* navigation bar avatar text style */
.name-text {
  
  font: bold;
  font-size: large;
  grid-area: name-text;
  align-self: center;
}

#text-name{
  
  font-style: italic;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: nowrap;
}





/* main grid style */
.main-grid-area {
  display: grid;
  height: 90vh; 
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr 0.5fr;
  grid-area: 
  
  "container1 container2"
  "container3 container4"
  "container5 container6"
  ;
   
}
 /* list of containers assigned to a main grid */

.container1{
   
  background-color: red;
}

.container2{
 
  background-color: yellow;
}
.container3{
  
  background-color: yellowgreen;
}
 .container5, .container6 {
  
  background-color: grey;
}


.container4 {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "picture1 picture1"
  "picture2 picture3"
  "picture4 picture5";
}



/* list of pictures associated with list of apps */
.picture1 {
  position: relative;
   background-image: url(../images/02-portfolio-1.jpg); 
  background-size: cover;
  grid-area: picture1;

}

.picture2 {
  position: relative;
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  grid-area: picture2;
}

.picture3 {
  position: relative;
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
  grid-area: picture3;
}

.picture4 {
  position: relative;
  background-image: url(../images/02-portfolio-4.jpg);
  background-size: cover;
  grid-area: picture4;
}

.picture5 {
  position: relative;
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
  grid-area: picture5;
}


/* a box with text description for apps */

.imagetext {
  
  position: absolute;
  top: 70%;
  bottom: 10%;
  left: 0;
  right: 70%;
  display: flex;
  align-items: center;
  color: white;
  background-color: aqua;
}

/* sub title text style */

h1, h2{
  font-weight: bolder;
  text-align: center;
  text-decoration: wavy;
 
 padding: 0; /* to prevent a gap between heder and h2 */
 margin: 0;
  
}

.subheader-text{
  height: 5vh;
  background-color: lightgrey;
  opacity: 70%;
  overflow: hidden; /* hides part of text if resized too much */
}

/* media queries for adjusting list of apps */

@media screen and (max-width:700px) {

  .container4 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "picture1"
      "picture2"
      "picture3"
      "picture4"
      "picture5";
    }


}